body {
	background: rgba(244, 240, 235, 1);
}
#form {
	width: 60%;
	top: 75px;
	position: absolute;
	left: 20%;
	border: 1px solid black;
	padding: 10px;
	border-radius: 3pt;
	background: white;
}
input[type='text'], input[type='password'], textarea {
	width: 100%;
	outline: none;
	resize: none;
	border: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	overflow-y: hidden;
}
textarea {
	height: 100px;
	line-height: 100px;
}
button[type='submit'] {
	width: 100%;
	border: 1px solid black;
	border-radius: 3pt;
	background: rgba(100,155,255,1);
	padding: 20px;
	outline: none;
	font-family: sans-serif;
	font-weight: lighter;
}